<h1 [class.active]="isDiscoloration">{{ heading }}</h1>
<input
  type="text"
  name=""
  id=""
  [(ngModel)]="heading"
  *ngIf="isDiscoloration"
/>
<button (click)="handleDiscoloration()">Turn Green</button>

<div [ngSwitch]="errorCode">
  <p *ngSwitchCase="404">404 Not Found</p>
  <p *ngSwitchCase="403">403 Forbidden</p>
  <p *ngSwitchCase="405">405 Method Not Allow</p>
</div>

<h2>DS Sinh Viên</h2>
<hr />
<table border="1" cellSpacing="0">
  <thead>
    <tr>
      <th>STT</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let index = index">
      <td>{{ index + 1 }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.password}}</td>
    </tr>
  </tbody>
</table>

<h3 style="width: 50%; margin: 10px auto">Form Login</h3>
<form
  method=""
  style="width: 50%; margin: 20px auto"
  [formGroup]="loginForm"
  (submit)="handleSubmit()"
>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <div
      *ngIf="
        loginForm['controls']['email'].errors &&
        loginForm['controls']['email'].dirty
      "
    >
      <small *ngIf="loginForm['controls']['email'].errors['required']"
        >Email không được để trống</small
      >
      <small *ngIf="loginForm['controls']['email'].errors['email']"
        >Vui lòng nhập lại email</small
      >
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />

    <div
      *ngIf="
        loginForm['controls']['password'].errors &&
        loginForm['controls']['password'].dirty
      "
    >
      <small *ngIf="loginForm['controls']['password'].errors['required']"
        >Password không được để trống</small
      >
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
    Submit
  </button>
</form>
